.searchBlock {
  position: relative;
  width: 300px;
}
.searchInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.listSection {
  z-index: 1;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: white;
  list-style-type: none;
}
.listItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}

@media (max-width: 1024px) {
  .searchBlock {
    width: 100%;
  }
  .searchInput {
    padding: 6px;
  }
}
