.appContentBody {
  display: flex;
  flex-direction: column;
  gap: 18px;

  /* background-color: palevioletred; */
}

.brandingSection {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 138px;
  column-gap: 16px;
}
@media (max-width: 1024px) {
  .brandingSection {
    gap: 12px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 84px 84px;
  }
}
.summaryTableSection {
  display: flex;
  width: 100%;
  flex-grow: 1;
  gap: 16px;
}

@media (max-width: 1024px) {
 .summaryTableSection {
  flex-direction: column;
 } 
}

