.updateButton {
  display: flex;
  padding: 10px 26px;
  font-family: 'Exo';
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #5e1a1a;
  border: 2px solid #5e1a1a;
  border-radius: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}
.updateButton:hover {
  color: #ffffff;
  background-color: #5e1a1a;
}