@import url('variables.css');

@font-face {
  font-family: 'Exo';
  src: local('Exo'), url(./fonts/Exo.ttf) format('truetype');
}

/* Scroll bar customiztion */
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  border-radius: 180px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 180px;
  background-color: var(--scrollbar-color);
}