.drawer {
  display: flex;
  width: 220px;
  height: 100%;
  background-color: #F5F7F9;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .drawer {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    padding: 30px 20px;
    box-sizing: border-box;
  }
}

