.brandingCard {
  display: flex;
  height: 100%;
  padding: 16px;
  font-family: 'Exo';
  border-radius: 10px;
  background-color: #d3d3d3;
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  user-select: none;
  transition: all 200ms ease-in-out;
  transform-origin: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

@media (hover: hover){ 
  .brandingCard:hover {
    transform: translateY(-10px);
  }
}

.brandingCard_0 {
  background-color: #c5efc2;
}
.brandingCard_1 {
  background-color: #f4e3e3;
}
.brandingCard_2 {
  background-color: #a5cc99;
}

.brandingCard_3 {
  background-color: #c49393;
}

.countBlock {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0 6px;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  border-radius: 6px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}

.titleBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  font-size: 16px;
  line-height: 1;
}

@media (max-width: 1024px) {
  .brandingCard {
    padding: 8px;
  }
  .countBlock {
    width: 40px;
    height: 30px;
    font-size: 24px;
  }
  .titleBlock {
    font-size: 14px;
  }
}