.dashboardContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px;
  grid-auto-rows: min-content;
  gap: 16px;
}

.searchInput {
  width: 400px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 30px;
  grid-column: 1 / -1;
}