.appContent {
  position: absolute;
  top: 102px;
  right: 0;
  bottom: 0;
  left: 220px;
  padding: 0 20px 30px 20px;
  overflow-y: scroll;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .appContent {
    top: 92px;
    left: 0;
}
}

/* Scroll bar customiztion */
.appContent::-webkit-scrollbar {
  width: 2px;
}

.appContent::-webkit-scrollbar-track {
  border-radius: 180px;
  background-color: transparent;
}

.appContent::-webkit-scrollbar-thumb {
  border-radius: 180px;
  background-color: #211C37;
}