.adminDashboard {

  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

/* Scroll bar customiztion */
.adminDashboard::-webkit-scrollbar {
  width: 2px;
}

.adminDashboard::-webkit-scrollbar-track {
  border-radius: 180px;
  background-color: transparent;
}

.adminDashboard::-webkit-scrollbar-thumb {
  border-radius: 180px;
  background-color: var(--scrollbar-color);
}
.lastUpdatedBlock {
  padding: 16px;
  font-family: 'Exo';
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border: 2px solid #032030;
  border-radius: 10px;
  background-color: #006DA4;
  cursor: pointer;
}
.actionsSection {
  display: flex;
  width: 100%;
  flex-wrap: wrap;  
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.actionItem {
  padding: 6px;
  font-family: 'Exo';
  font-size: 20px;
  line-height: 1;
  border: 2px solid #395886;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}
.actionItem_active {
  color: #ffffff;
  background-color: #395886;
}
.actionItem:hover {
  color: #ffffff;
  background-color: #395886;
}


.noUnderline {
  color: inherit;
  text-decoration: none;
}