.mainSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.button_danger {
  padding: 10px 26px;
  font-family: 'Exo';
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  border-radius: 10px;
  background-color: #5e1a1a;
  box-sizing: border-box;
  cursor: pointer;
}
.button_danger:hover {
  color: #5e1a1a;
  border: 1px solid #5e1a1a;
  background-color: #ffffff;
}
.acitonStatusSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.acitonStatusItem {
  padding: 10px;
  font-family: 'Exo';
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  border-radius: 6px;
  cursor: pointer;
}
.acitonStatusItem:hover {
  color: #ffffff;
}
.acitonStatusItem_success {
  background-color: #c5efc2;
}
.acitonStatusItem_success:hover {
  background-color: #1b4e17;
}
.acitonStatusItem_fail {
  background-color: #f4e3e3;
}
.acitonStatusItem_fail:hover {
  background-color: #5e1a1a;
}
.actionOutcome {
  width: 100%;
  padding: 20px;
  border: 1px solid #395886;
  border-radius: 10px;
  box-sizing: border-box;
}

.actionSection {
  display: flex;
  width: 100%;
  padding: 20px;
  border: 2px solid #395886;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}
.actionTitle {
  font-family: 'Exo';
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.actionItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}
.actionItem {
  padding: 8px 10px;
  max-width: 20%;
  font-family: 'Exo';
  font-size: 16px;
  line-height: 1;
  text-align: center;
  border: 1px solid #395886;
  border-radius: 6px;
  background-color: #ffffff;
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow-x: scroll;
}

/* Scroll bar customiztion */
.actionItem::-webkit-scrollbar {
  height: 2px;
}

.actionItem::-webkit-scrollbar-track {
  border-radius: 180px;
  background-color: transparent;
}

.actionItem::-webkit-scrollbar-thumb {
  border-radius: 180px;
  background-color: var(--scrollbar-color);
}
.actionErrorItem {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .actionItem {
    max-width: 100%;
  }
}
.actionSection_success {
  background-color: #e4f7e2;
}
.actionSection_error {
  background-color: #f4e3e3;
}
.actionSection_db_create {
  background-color: #e5f5f8;
}
.actionSection_db_update {
  background-color: #e4f7e2;
}
.actionSection_db_error {
  background-color: #f07e82;
}
.actionSection_errors_list {
  background-color: #cbcccf;
}

.daysInputBlock {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: 'Exo';
  font-size: 16px;
  line-height: 1;
}
.searchInput {
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
@media (max-width: 1024px) {
  .searchInput {
    width: 100%;
  }
}