@keyframes color-change-2x {
  0% {
    background: inherit;
  }
  100% {
    background: var(--drawer-item-active);
  }
}
.drawer-item {
  display: flex;
  width: 220px;
  height: 44px;
  margin-bottom: 4px;
  padding: 12px 9px;
  font-family: 'Exo';
  font-size: 20px;
  line-height: 1;
  color: #000000;
  border-radius: 9px;
  background-color: inherit;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}
  
@media (max-width: 1024px) {
  .drawer-item {
    width: 100%;
  }
}
.drawer-item_active {
  color: #ffffff;
  -webkit-animation: color-change-2x 0.1s linear alternate both;
  animation: color-change-2x 0.1s linear alternate both;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.appLogoSection {
  display: flex;
  width: 100%;
  height: 92px;
  min-height: 92px;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.appLogoText {
  font-family: 'Exo';
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 1024px) {
  .appLogoSection {
    width: unset;
    height: 30px;
    flex-grow: 1;
    justify-content: flex-start;
  }
}
.noUnderline {
  color: inherit;
  text-decoration: none;
}